    /* Nav Bar CSS */
    
    .padding-nav {
        padding-top: 150px;
    }
    
    .logo {
        display: flex;
        justify-content: space-between;
    }
    
    .logo-left {
        display: flex;
    }
    
    #header-img {
        width: 250px;
    }
    
    .profile-logo-float img {
        width: 50px;
        padding-left: 0;
    }
    
    .profile-logo-float:hover .profile-logo,
    .profile-logo-float:focus .profile-logo,
    .profile-logo-float:active .profile-logo {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    
    .cart-logo {
        width: 80px;
    }
    
    .logo-burger a {
        float: none;
        color: white;
        padding: 14px 20px;
        margin-top: 19px;
        font-size: 30px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    
    .nav-links {
        list-style: none;
    }
    
    .link img {
        float: none;
        color: white;
        text-decoration: none;
        display: block;
        text-align: left;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .link:hover {
        background-color: #57b846;
        border-radius: 200px;
    }
    
    .link:hover a {
        color: #144591;
    }
    
    .navbar {
        display: flex;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        background-color: #ffffff;
        padding-left: 30px;
        padding-right: 40px;
        border-bottom: 10px solid #57b846;
        z-index: 20;
    }
    
    .nav-links {
        display: flex;
        width: 300px;
        justify-content: space-around;
        align-items: center;
        font-size: 25px;
    }
    
    .logo img {
        width: 90px;
        vertical-align: middle;
    }
    /* Navbar container */
    
    .dropdown {
        float: left;
        overflow: hidden;
        z-index: 20;
    }
    /* Dropdown button */
    
    .dropdown .dropbtn {
        font-size: 25px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 25px;
        background-color: inherit;
        font-family: inherit;
        /* Important for vertical align on mobile phones */
        margin: 0;
        /* Important for vertical align on mobile phones */
    }
    /* Add a red background color to navbar links on hover */
    
    .navbar a:hover,
    .dropdown:hover .dropbtn {
        background-color: #CDCECF;
        color: #1B2C58;
    }
    /* Dropdown content (hidden by default) */
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    /* Links inside the dropdown */
    
    .dropdown-content a {
        float: none;
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    /* Add a grey background color to dropdown links on hover */
    
    .dropdown-content a:hover {
        background-color: #ddd;
    }
    /* Show the dropdown menu on hover */
    
    .logo-burger {
        display: none;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }